body {
  margin: 0;
}

.marker-pilon {
  background-image: url('./images/pilon.png');
  background-size: cover;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.marker-dot {
  background-image: url('./images/dot.png');
  background-size: cover;
  width: 25px;
  height: 25px;
  cursor: pointer;
}