@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2 {
  font-family: 'Ubuntu Mono';
  line-height: 120%;
}

@layer components {
  .pricetag {
    @apply relative flex items-center justify-center bg-pricetag bg-cover text-white;
  }
  .imageContainer{
    @apply my-3 bg-gray-100 border-2 border-gray-200 border-solid
  }
  .btn-primary {
    @apply bg-teal text-white rounded-sm p-2;
  }
  .btn-secondary {
    @apply rounded-sm p-2;
  }
}
