@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@700&display=swap');
/* @import url('https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.css'); */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2 {
  font-family: 'Ubuntu Mono';
  line-height: 120%;
}

@layer components {
  .pricetag {
    @apply relative flex items-center justify-center bg-pricetag bg-cover text-white;
  }
  .imageContainer{
    @apply my-3 bg-gray-100 border-2 border-gray-200 border-solid
  }
  .btn-primary {
    @apply bg-teal text-white rounded-sm p-2;
  }
  .btn-secondary {
    @apply rounded-sm p-2;
  }
}

.marker-pilon {
  background-image: url('images/pilon.png');
  background-size: cover;
  width: 40px;
  z-index: 10;
  height: 40px;
  cursor: pointer;
}

.marker-dot {
  background-image: url('images/dot.png');
  background-size: cover;
  width: 25px;
  z-index: 10;
  height: 25px;
  cursor: pointer;
}

.pop-up {
  position: relative;
  z-index: 1000;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.mapboxgl-ctrl-attrib .mapboxgl-compact {
  display: none;
}
